<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns="http://maven.apache.org/SETTINGS/1.1.0" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <server>
            <id>ossrh</id>
            <!--
            <username>your-jira-id</username>
            <password>your-jira-pwd</password>
            -->
            <username>${env.OSSRH_ARTIFACTORY_USER}</username>
            <password>${env.OSSRH_ARTIFACTORY_API_TOKEN}</password>
        </server>
    </servers>
</settings>
